{% extends "base.html" %}
{% load static %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<section  id="login-section" class="p-3 p-md-4 p-xl-5">
    <div class="container">
      <div class="card border-light-subtle shadow-sm">
        <div class="row g-0">
          <div class="col-12 col-md-6 text-bg-primary">
            <div class="d-flex align-items-center justify-content-center h-100">
              <div class="col-10 col-xl-8 py-3">
                <img src="{% static 'images/youmatter.png' %}" class="img-fluid mb-4" alt="Your Logo" style="width: 100%;">
                
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="card-body p-3 p-md-4 p-xl-5">
              <div class="row">
                <div class="col-12">
                  <div class="mb-5">
                    <h3>{% trans "Sign In" %}</h3>
                    <p>{% blocktrans %}Welcome back to You Matter. To leave a comment or like a post, please log in. If you have not created an account yet, then <a class="link" href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
                  </div>
                </div>
              </div>
              <form method="POST" action="{% url 'account_login' %}">
                {% csrf_token %}
                <div class="row gy-3 gy-md-4 overflow-hidden">
                  
                        <form class="form-signin" method="POST" action="{% url 'account_login' %}">
                            {% csrf_token %}
                            {{ form.as_p }}
                            {% if redirect_field_value %}
                            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}">
                            {% endif %}
                            <button class="btn btn-signup btn-primary" type="submit">{% trans "Sign In" %}</button>
                        </form>

                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" name="remember_me" id="remember_me">
                          <label class="form-check-label text-secondary" for="remember_me">
                            {% trans "Keep me logged in" %}
                          </label>
                        </div>

                        <div class="col-12">
                          <hr class="mt-5 mb-4 border-secondary-subtle">
                          <div class="d-flex gap-2 gap-md-4 flex-column flex-md-row justify-content-md-end">
                            <a href="{{ signup_url }}" class="link-secondary text-decoration-none">{% trans "Create new account" %}</a>
                        </div>

                    </div>
                </div>
            
          </div>
        </div>
      </div>
    </div>
  </section>

  

{% endblock %}