{% extends 'base.html' %}
{% load static %}

{% block content %}  
<body class="d-flex flex-column min-vh-100">
        <!-- Cover Section -->
        <div class="container-fluid">
            <div class="position-relative">
                <img src="{% static 'images/connect.jpg' %}" class="img-fluid mb-0" alt="about-image" style="width: 100%;" width="2000" height="400">
            </div>
        </div>
        <!-- End Cover Section -->

    <!-- Community -->
    <div class="container mt-1 text-center">
        <div class="row">
            <div class="col-12 col-md-4">
                <div class="card community-card border-0">
                    <div class="card-body community-card-body p-0">
                        <i class="bi bi-people-fill display-1"></i>
                        <h4 class="community-title">Support Group Meetings</h4>
                        <p class="community-text">Join our weekly support group meetings to connect with others and share experiences.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="card community-card border-0">
                    <div class="card-body community-card-body p-0">
                        <i class="bi bi-hand-thumbs-up-fill display-1"></i>
                        <h4 class="community-title">Volunteer Opportunities</h4>
                        <p class="community-text">Get involved and make a difference by participating in our volunteer programs.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="card community-card border-0">
                    <div class="card-body community-card-body p-0">
                        <i class="bi bi-laptop-fill display-1"></i>
                        <h4 class="community-title">Workshops and Webinars</h4>
                        <p class="community-text">Enhance your skills and knowledge by attending our workshops and webinars.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-12 col-md-4">
                <div class="card community-card border-0">
                    <div class="card-body community-card-body p-0">
                        <i class="bi bi-heart-fill display-1"></i>
                        <h4 class="community-title">Community Outreach</h4>
                        <p class="community-text">Participate in our community outreach programs to support those in need.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="card community-card border-0">
                    <div class="card-body community-card-body p-0">
                        <i class="bi bi-calendar-event-fill display-1"></i>
                        <h4 class="community-title">Special Events</h4>
                        <p class="community-text">Join us for special events and activities designed to bring us together.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="card community-card border-0">
                    <div class="card-body community-card-body p-0">
                        <i class="bi bi-chat-dots-fill display-1"></i>
                        <h4 class="community-title">Discussion Forums</h4>
                        <p class="community-text">Engage in meaningful conversations and exchange ideas in our discussion forums.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Community -->
     <br>

    <section id="events" class="bsb-blog-5 py-3 py-md-5 py-xl-8 flex-grow-1 d-flex flex-column justify-content-center">
 
        <div class="container">
            <div class="row justify-content-md-center mb-4">
                <div class="col-12 col-md-10 col-lg-8 col-xl-7">
                    <h2 class="display-5 mb-5 mb-xl-9 text-center">Events</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-4 mb-4 text-center">
                    <div class="card event-card">
                        <img src="{% static 'images/writing.jpg' %}" class="card-img-top" alt="Workshop One Day">
                        <div class="card-body event-card-body">
                            <h4 class="event-title">Creative Writing Workshop</h4>
                            <p class="event-text">Unleash your creativity in our one-day workshop focused on creative writing techniques.</p>
                            <p class="event-date">Date: July 15, 2024</p>
                            <p class="event-time">Time: 9:00 AM - 5:00 PM</p>
                            <a href="https://www.eventbrite.com/" target="_blank" class="btn btn-primary">Book  on Eventbrite</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 mb-4 text-center">
                    <div class="card event-card">
                        <img src="{% static 'images/gathering.jpg' %}" class="card-img-top" alt="Weekly Meeting">
                        <div class="card-body event-card-body">
                            <h4 class="event-title">Community Gathering</h4>
                            <p class="event-text">Join us for our weekly community gathering to discuss local initiatives and community projects.</p>
                            <p class="event-date">Date: July 22, 2024</p>
                            <p class="event-time">Time: 6:00 PM - 7:30 PM</p>
                            <a href="https://www.eventbrite.com/" target="_blank" class="btn btn-primary">Book  on Eventbrite</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 mb-4 text-center">
                    <div class="card event-card">
                        <img src="{% static 'images/money.jpg' %}" class="card-img-top" alt="Webinars">
                        <div class="card-body event-card-body">
                            <h4 class="event-title">Financial Planning Webinar</h4>
                            <p class="event-text">Gain valuable insights into financial planning from industry experts in our upcoming webinar.</p>
                            <p class="event-date">Date: August 1, 2024</p>
                            <p class="event-time">Time: 10:00 AM - 11:30 AM</p>
                            <a href="https://www.eventbrite.com/" target="_blank" class="btn btn-primary">Book  on Eventbrite</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-4 mb-4 text-center">
                    <div class="card event-card">
                        <img src="{% static 'images/volunteer.jpg' %}" class="card-img-top" alt="Volunteer Day">
                        <div class="card-body event-card-body">
                            <h4 class="event-title">Community Cleanup Day</h4>
                            <p class="event-text">Join us for a day of community service as we clean up local parks and public spaces.</p>
                            <p class="event-date">Date: August 10, 2024</p>
                            <p class="event-time">Time: 8:00 AM - 4:00 PM</p>
                            <a href="https://www.eventbrite.com/" target="_blank" class="btn btn-primary">Book  on Eventbrite</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 mb-4 text-center">
                    <div class="card event-card">
                        <img src="{% static 'images/network.jpg' %}" class="card-img-top" alt="Networking Event">
                        <div class="card-body event-card-body">
                            <h4 class="event-title">Networking Mixer</h4>
                            <p class="event-text">Expand your professional network at our networking event with industry leaders and peers.</p>
                            <p class="event-date">Date: August 20, 2024</p>
                            <p class="event-time">Time: 5:30 PM - 7:30 PM</p>
                            <a href="https://www.eventbrite.com/" target="_blank" class="btn btn-primary text">Book  on Eventbrite</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 mb-4 text-center">
                    <div class="card event-card">
                        <img src="{% static 'images/gala.jpg' %}" class="card-img-top" alt="Charity Event">
                        <div class="card-body event-card-body">
                            <h4 class="event-title">Charity Gala Dinner</h4>
                            <p class="event-text">Join us for an elegant evening of dining and fundraising to support local charities.</p>
                            <p class="event-date">Date: September 5, 2024</p>
                            <p class="event-time">Time: 11:00 AM - 3:00 PM</p>
                            <a href="https://www.eventbrite.com/" target="_blank" class="btn btn-primary">Book on Eventbrite</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Events -->


    <section class="newsletter-section">
        <div class="container mt-2 text-center">
            <div class="row">
                <div class="col">
                    {% include 'newsletter/newsletter_signup_form.html' %}
                </div>
            </div>
        </div>
    </section>
    
    <br><br>

    <section  class="bsb-blog-5 py-3 py-md-5 py-xl-8">
        <div class="container">
                    <h2 class="display-5 mb-2 mb-md-2 text-center">Get in touch</h2>
                    <div class="text-center">

            <div id="contact" class="row">
            <p><i class="bi bi-geo-alt-fill"></i> 10 Downing Street, London SW1A 2AA, UK</p>
            <p><i class="bi bi-phone-fill"></i> +44 20 1234 5678</p>
            <p><i class="bi bi-envelope-fill"></i> <a href="mailto:support@youmatter.com">support@youmatter.com</a></p>
            </div>
                    
                        <section id="get-in-touch" class="py-2">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-6 mb-4 mb-md-0">
                                        <!-- Google Map iframe -->
                                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1588.2617927173185!2d-0.1410600220184699!3d51.50147847962473!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48761ad856f8f1fb%3A0x85d93f28ff7362d4!2sBuckingham%20Palace!5e0!3m2!1sen!2suk!4v1624855256767!5m2!1sen!2suk" 
                                        width="200%" height="600" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                                    </div>
                                </div>
                            </div>
<br></section>

{% endblock %}


