/* Font Import */
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');



body {
    background-color: #F9FAFC;
}


/* Alert message styles */
.alert {
    margin-bottom: 1rem; 
}

.alert-dismissible .btn-close {
    font-size: 1rem; 
}

/* Main content section styles */
.main-bg {
    background-color: #ffffff; 
}

/* Login/logout status paragraph styles */
.text-end {
    font-size: 14px; 
    font-style: italic; 
    color: #004AAD; 
    margin-bottom: 0; 
}

/* Alert message styles */


.red-o {
    color: #000000;
}

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #445261;
}

.main-bg {
    background-color: #F9FAFC;
}

.card {
    border: none;
    background-color: transparent;
}

.image-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.image-container img {
    width: 256px;
    height: 256px;
    object-fit: cover;
    border-radius: 8px;
}

.image-flash {
    position: absolute;
    min-width: 30%;
    left: -2px;
    background-color: #004AAD;
}

.scale {
    width: 100%;
    height: auto;
}

.author {
    font-family: "Questrial", sans-serif;
    color: white;
    margin: 4px;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #445261;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #445261;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.post-link {
    text-decoration: none;
    color: #000000;
    font-family: "Questrial", sans-serif;
}

.post-link:hover,
.page-link {
    color: #004AAD;
}

.post-title {
    margin-top: 10%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.link {
    color: #007bff; 
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-delete {
    color: #fff;
    background: #E84610;
}

.btn-edit {
    color: #000000;
    background-color: #004AAD;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}

.btn-edit:hover,
.btn-edit:active {
    background-color: #007bff !important;
    color: #000000 !important;
}


.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

.faded {
    color: rgb(172, 175, 175);
}

.approval {
    color: rgb(222, 146, 168);
}

/* Navbar Link Styles */
.navbar-nav .nav-item .nav-link {
    font-family: "Questrial", sans-serif;
    color: #000000; 
    font-weight: 400; 
    font-size: 16px;
    
}

.navbar-nav .nav-item .nav-link:hover {
    color: #38B6FF; 
}


.navbar-nav .nav-item.active .nav-link {
    color: #004AAD; 
    border-bottom: 2px solid #007bff;
}

/* Navbar Link Styles */

/* Navbar Text */

.navbar-text.text-muted {
    font-family: "Questrial", sans-serif;
}

/* Navbar Text */


/* guideline */
.guidelines-link, .link-redirect {
    color: #000000;
    text-decoration: none;
    font-family: "Questrial", sans-serif;
    font-weight: 800;}

.guidelines-link:hover , .link-redirect:hover{
        color: #007bff;
     }

/**guideline page */

h1, h2 {
    font-family: "Questrial", sans-serif; 
    
}

ul li {
    font-family: "Questrial", sans-serif;
}

/* Section: Insightful Articles, Expert Advice, Community Support*/

.container.bg-white h2,
.container.bg-white p {
    line-height: 1.6; 
   
    font-family: "Questrial", sans-serif;
    font-weight: 400;
    text-align: center;
}

.bsb-blog-5 .btn {
    font-family: "Questrial", sans-serif;
    color: #241313; 
    background-color:#004AAD;
}

.bsb-blog-5 .btn:hover {
    background-color: #007bff;}

/* Section: Insightful Articles, Expert Advice, Community Support*/

.bsb-blog-5 h2.display-5 {
    font-family: "Questrial", sans-serif;
    font-weight: 400;
    color:  #ffffff; 
    text-transform: uppercase; }

    .bsb-blog-5 {
    background-color:#c2d8e5 !important; 
    padding: 10px 0; }

/* Main Content Sections */
#content-section .container.bg-white h2,
#content-section .container.bg-white p {
    line-height: 1.6;
    font-family: "Questrial", sans-serif;
    font-weight: 400;
    text-align: center;
}

/* Testimonials */
#testimonials h4 {
    font-family: "Questrial", sans-serif;
    
    }

#testimonials p {
    font-family: "Questrial", sans-serif;
    text-decoration: none;
        }    

/* Custom styling for community cards */

.community-card {
    border: 1px solid #ddd; 
    border-radius: 8px; 
    transition: box-shadow 0.3s ease; 
    background-color: #84e4fa; 
}

.community-title {
    font-family: "Questrial", sans-serif;}
    

.container {
        padding-top: 20px; }

        
/* Events */
#events h4 {
            font-family:"Questrial", sans-serif;
            font-weight: 500;
            text-transform: uppercase; }
#events p {
    font-family:"Questrial", sans-serif;
    font-weight: 400;
}

/* Login section */
#login-section h3 {
    font-family:"Questrial", sans-serif;
    font-weight: 800;}

#login-section p {
    font-family:"Questrial", sans-serif;}

#login-btn {
    font-family: "Questrial", sans-serif;}

/* Style for Sign Up Section */
#signup-text h3 {
    font-family:"Questrial", sans-serif;
    font-weight: 800;
}

#signup-btn {
    font-family: "Questrial", sans-serif;
    
}

/* contact */

#contact h3 {
    font-family:"Questrial", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    color: #000000;
}

#contact p {
    font-family:"Questrial", sans-serif;
    font-weight: 400;
    color: #000000;
}




/* Button Styles for BSB Blog 5 */
#content-section .bsb-blog-5 .btn {
    font-family: "Questrial", sans-serif;
    color: #ffffff;
    background-color: #004AAD;
}

#content-section .bsb-blog-5 .btn:hover {
    background-color: #007bff;
}

    /*next button */
.custom-pagination .page-item + .page-item {
        margin-left: 10px;
         }

.custom-pagination .btn-primary {
    background-color: #004AAD;
    color: #ffffff;
    font-family: "Questrial", sans-serif; 
    font-weight: 400;
}

.custom-pagination .btn-primary:hover {
    background-color: #007bff; }

/* Soicals */

.social-icons a {
    color: #004AAD; 
    font-size: 24px; 
    transition: color 0.3s; }

.social-icons a:hover {
    color: #38B6FF; 
}

/*back button*/
#back-btn { 
    background-color: #004AAD;
    color: #ffffff;
    font-family: "Questrial", sans-serif; 
    font-weight: 400;}

#back-btn:hover {
    background-color: #007bff; }


/* Copyright */
.footer-copyright {
        font-family: "Questrial", sans-serif; 
        font-weight: 400; }

.card-img-top {
    width: 100%; /* Ensures the image fills its parent container */
    height: 256px; /* Set the fixed height for uniformity */
    object-fit: cover; /* Ensures the image covers the container without stretching */
    border-radius: 8px; /* Optional: Adds rounded corners */
}


@media (max-width: 576px) {
    .navbar {
        padding: 10px 20px;
    }
    .navbar-nav .nav-item .nav-link {
        padding-left: 10px;
        padding-right: 10px;
    }
    .btn {
        margin: 5px;
    }
}