/* Font Import */
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');



body {
    background-color: #F9FAFC;
}


/* Alert message styles */
.alert {
    margin-bottom: 1rem; 
}

.alert-dismissible .btn-close {
    font-size: 1rem; 
}

/* Main content section styles */
.main-bg {
    background-color: #ffffff; 
}

/* Login/logout status paragraph styles */
.text-end {
    font-size: 14px; 
    font-style: italic; 
    color: #004AAD; 
    margin-bottom: 0; 
}

/* Alert message styles */


.red-o {
    color: #000000;
}

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #445261;
}

.main-bg {
    background-color: #F9FAFC;
}

.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #004AAD;
}

.scale {
    width: 100%;
    height: auto;
}

.author {
    font-family: "Questrial", sans-serif;
    color: white;
    margin: 4px;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #445261;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #445261;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.post-link {
    text-decoration: none;
    color: #000000;
    font-family: "Questrial", sans-serif;
}

.post-link:hover,
.page-link {
    color: #004AAD;
}

.post-title {
    margin-top: 10%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.btn-signup,
.btn-edit {
    background-color: #188181;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #23BBBB;
}

.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-delete {
    color: #fff;
    background: #E84610;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

.faded {
    color: rgb(172, 175, 175);
}

.approval {
    color: rgb(222, 146, 168);
}

/* Navbar Link Styles */
.navbar-nav .nav-item .nav-link {
    font-family: "Questrial", sans-serif;
    color: #000000; 
    font-weight: 400; 
    font-size: 16px; 
    
}

.navbar-nav .nav-item .nav-link:hover {
    color: #38B6FF; 
}


.navbar-nav .nav-item.active .nav-link {
    color: #004AAD; 
    border-bottom: 2px solid #007bff; 
}

/* Navbar Link Styles */

/* Navbar Text */

.navbar-text.text-muted {
    font-family: "Questrial", sans-serif;
}

/* Navbar Text */

/* Section: Insightful Articles, Expert Advice, Community Support*/

.container.bg-white h2,
.container.bg-white p {
    line-height: 1.6; 
   
    font-family: "Questrial", sans-serif;
    font-weight: 400;
    text-align: center;
}
/* Section: Insightful Articles, Expert Advice, Community Support*/

.bsb-blog-5 h2.display-5 {
    font-family: "Questrial", sans-serif;
    font-weight: 400;
    color:  #ffffff; 
    text-transform: uppercase; }

    .bsb-blog-5 {
    background-color:#c2d8e5; 
    padding: 10px 0; }