{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 masthead-text">
                <h1 class="post-title">{{ post.title }}</h1>
                <p class="post-subtitle">{{ post.author }} | {{ post.created_on }}</p>
                <p class="post-subtitle">
                  {% if user == post.author %}
                      {% if user.is_superuser %}
                          <a href="{% url 'post_update' slug=post.slug %}" class="btn btn-primary">Edit</a>
                      {% else %}
                          <a href="{% url 'post_update_user' slug=post.slug %}" class="btn btn-primary">Edit</a>
                      {% endif %}
                    <a href="{% url 'post_delete_confirm' slug=post.slug %}" class="btn btn-danger">Delete</a>
                  {% endif %}
                </p>
            </div>
            <div class="d-none d-md-block col-md-6 masthead-image">
                {% if "placeholder" in post.featured_image.url %}
                    <img src="{% static 'images/default.jpg' %}" class="scale" alt="placeholder image">
                {% else %}
                    <img src="{{ post.featured_image.url }}" class="scale" alt="{{ post.title }}">
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="container mt-4">
    <div class="row">
        <div class="col">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Content</h5>
                    <p class="card-text">{{ post.content | safe }}</p>
                </div>
            </div>
        </div>
    </div>

<!--Display likes-->
<div class="row">
  <div class="col-12">
    <strong class="text-secondary">
      <i class="far fa-thumbs-up"></i> {{ post.total_likes }}
    </strong>
  </div>
  <div class="col-12">
    {% if user.is_authenticated %}
      <form action="{% url 'toggle_like' post.id %}" method="POST" class="d-inline">
        {% csrf_token %}
        <button type="submit" class="btn btn-info">
            {% if is_liked %}
                Unlike
            {% else %}
                Like
            {% endif %}
        </button>
      </form>
    {% else %}
      <a href="{% url 'account_login' %}">Log in to like this post</a>
    {% endif %}
  </div>
</div>
<!-- Displaying count of comments -->
<div class="row">
    <div class="col-12">
      <strong class="text-secondary">
        <i class="far fa-comments"></i> {{ comment_count }}
      </strong>
    </div>
    <div class="col-12">
      <hr>
    </div>
  </div>
  <!-- Displaying Comments -->
  <div class="row">
    <div class="col-md-8 card mb-4  mt-3 ">
      <h3>Comments:</h3>
      <div class="card-body">
        <!-- We want a for loop inside the empty control tags
          to iterate through each comment in comments -->
        {% for comment in comments %}
        <div class="p-2 comments
          {% if not comment.approved and comment.author == user %}
          faded{% elif not comment.approved %} d-none{% endif %}">
          <p class="font-weight-bold">
            {{ comment.author }}
            <span class="font-weight-normal">
              {{ comment.created_on }}
            </span> wrote:
          </p>
          <div id="comment{{ comment.id }}">
            {{ comment.body | linebreaks }}
          </div>
          {% if not comment.approved and comment.author == user %}
          <p class="approval">
            This comment is awaiting approval
          </p>
          {% endif %}
          {% if user.is_authenticated and comment.author == user %}
          <button class="btn btn-delete"
          comment_id="{{ comment.id }}">Delete</button>
          <button class="btn btn-primary"
          comment_id="{{ comment.id }}">Edit</button>
          {% endif %}
        </div>
        <!-- Our for loop ends here -->
        {% endfor %}
      </div>
    </div>
    <!-- Creating New Comments -->
    <div class="col-md-4 card mb-4 mt-3">
        <div class="card-body">
          {% if user.is_authenticated %}
          <h3>Leave a comment:</h3>
          <p>Posting as: {{ user.username }}</p>
          <form id="commentForm" method="post"
            style="margin-top: 1.3em;">
            {{ comment_form | crispy }}
            {% csrf_token %}
            <button id="submitButton" type="submit"
              class="btn btn-primary">Submit</button>
          </form>
          {% else %}
          <p>Log in to leave a comment</p>
          {% endif %}
        </div>
      </div>
  </div>
</div>
<!-- Delete confirmation modal -->
<div class="modal fade" id="deleteModal" tabindex="-1"
  aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"
          id="deleteModalLabel">Delete comment?</h5>
        <button type="button" class="btn-close"
          data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete your comment?
        This action cannot be undone.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary"
          data-bs-dismiss="modal">Close</button>
        <a id="deleteConfirm" href="#" class="btn
          btn-danger">Delete</a>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

{% block extras %}
<script src="{% static 'js/comments.js' %}"></script>
{% endblock %}