{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-5">
  <div class="row">
    <div class="col-4 text-center">
      {% if "placeholder" in about.profile_image.url %}
      <img src="{% static 'images/nobody.jpg' %}" width="75%"
        alt="placeholder image" >
      {% else %}
      <img src="{{ about.profile_image.url }}" width="75%"
        alt="{{ about.title }}">
      {% endif %}
    </div>
    <div class="col-8">
      <!-- Title goes between these h2 tags -->
      <h2>{{ about.title }}</h2>
      <!-- Content goes directly underneath this -->
      <form method="post">
        {{ collaborate_form | crispy }}
        {% csrf_token %}
        <button class="btn btn-secondary"
          type="submit">Submit</button>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col text-right">
      <!-- Updated on field goes in here -->
      <p class="text-end"><em>Updated on: {{ about.updated_on }}</em></p>
    </div>
    <!-- Newsletter Signup Form -->
    <div>
      <h3>Subscribe to Our Newsletter</h3>
      <form action="newsletter_signup.html" method="post">
        {% csrf_token %}
        {{ newsletter_form.as_p }} <!-- Adjust as_p based on your form rendering preference -->
        <button type="submit" class="btn btn-primary">Subscribe</button>
      </form>
    </div>
    <!-- End Newsletter Signup Form -->
  </div>
</div>
{% endblock content %}